<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CountDownClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CountDownClock.Properties.Settings>
            <setting name="WavFileSelected" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WavPlayTimes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TickSoundSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisplayNegCount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSeconds" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SecondChime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondChimeName" serializeAs="String">
                <value />
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>CountDown Timer</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>1.0</value>
            </setting>
        </CountDownClock.Properties.Settings>
    </userSettings>
</configuration>